<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>strings</key>
	<string>crabby
diligent
furtive
mark
cobweb
wealth
cemetery
fade
competition
icky
mass
hurt
needless
inject
smoke
cloudy
story
important
fearful
education
develop
fierce
stir
toe
rat
daily
shocking
gaudy
grip
railway
tank
momentous
creator
plant
rinse
instinctive
frightened
spurious
face
spell
damaging
bulb
pink
mom
elfin
hot
attempt
sand
knit
rule
cheese
matter
straight
lumber
thrill
decisive
bewildered
squeeze
aloof
auspicious
jolly
tan
rambunctious
wandering
thunder
fantastic
waiting
soup
literate
water
file
teeny-tiny
flowery
snore
painful
marvelous
spoil
lie
irritating
preach
plant
delight
lick
waste
puffy
advice
spring
spade
shrill
face
women
value
moon
unkempt
giddy
line
icy
spiteful
wholesale
periodic
true
fearless
scandalous
absent
tiresome
comb
influence
rice
offbeat
mourn
noisy
frogs
island
eager
ubiquitous
equal
change
turn
embarrassed
hunt
private
majestic
space
mate
desire
five
amusing
used
disillusioned
festive
tight
annoyed
cumbersome
mice
trashy
turkey
whine
sign
overjoyed
versed
brick
rhythm
receipt
paste
stereotyped
obsequious
throat
hypnotic
changeable
driving
familiar
helpful
wry
glamorous
entertain
sofa
assorted
laugh
nut
pleasant
worm
impulse
ducks
field
broad
bee
jail
burn
waggish
mellow
sister
ashamed
exercise
longing
mother
look
hobbies
relieved
stew
middle
sigh
high
deranged
coach
meal
zany
green
earthquake
heavy
cause
time
vivacious
absorbed
governor
adorable
society
skip
empty
slave
hysterical
interrupt
melt
condemned
tightfisted
sign
flesh
shave
debt
striped
separate
harsh
faded
filthy
talented
efficacious
ordinary
numberless
rate
nervous
premium
hapless
bumpy
jewel
typical
real
impartial
bedroom
penitent
next
curvy
whip
birth
invention
crazy
purple
belong
lively
available
splendid
pigs
slow
heal
frog
rough
measure
flaky
smoke
exciting
gather
chew
like
unhealthy
direful
magnificent
noise
touch
smart
texture
suspend
gorgeous
jump
freezing
poke
materialistic
legal
enter
reflective
learned
spot
tenuous
incredible
bushes
argument
immense
note
secretary
rich
addition
jog
lettuce
fine
deserve
industry
animated
enchanting
cable
passenger
eminent
place
crack
trade
wood
size
pine
compete
suffer
attack
rotten
comparison
calculate
evanescent
steel
jump
pick
injure
stormy
easy
pop
known
ear
anger
celery
breath
unsightly
thumb
abusive
interfere
dress
roll
bear
hope
question
oval
calculator
shade
possessive
quince
remove
settle
black
secretive
language
sticky
queue
division
courageous
agreeable
found
abaft
rail
wrong
deer
crowd
dependent
womanly
troubled
tearful
careless
tremble
curl
grandiose
material
protect
downtown
whisper
force
trail
sore
illegal
unknown
entertaining
super
seal
harmony
elastic
discreet
domineering
wind
awful
stitch
unused
land
cough
book
stop
detail
cattle
discovery
protective
correct
reason
taboo
rose
unaccountable
ready
teaching
parsimonious
uncovered
hurried
look
rescue
hospital
well-to-do
ship
elbow
trick
pump
quiet
elite
yellow
snotty
sky
flow
trite
show
whip
symptomatic
solid
attractive
name
lip
bells
cent
guarantee
skirt
use
jelly
gusty
panicky
redundant
harass
unusual
narrow
terrific
functional
earsplitting
dark
nasty
gullible
cute
thirsty
past
pull
substance
arrive
undress
bomb
lowly
truck
excite
quick
strong
high-pitched
teeth
puzzled
chilly
greasy
office
fall
broken
bake
amusement
remain
collar
cold
tick
clumsy
breezy
sudden
godly
cute
shoes
chance
geese
umbrella
whirl
cheerful
temper
stocking
hose
annoy
dance
automatic
post
flight
regular
kettle
zephyr
mountain
mitten
forgetful
scratch
year
minor
replace
trot
porter
skillful
smoggy
ugliest
burly
friends
airport
self
wall
bare
drunk
classy
prevent
marble
action
control
guess
train
fuel
exist
mist
quicksand
dysfunctional
lumpy
spy
bat
library
wipe
round
faithful
guttural
head
irritate
aberrant
side
noxious
cooing
insect
neck
snails
subtract
fire
sweet
float
list
sleep
amused
excellent
card
coal
tasteless
clear
verdant
communicate
tongue
egg
graceful
back
sin
license
partner
baseball
spotted
tidy
aggressive
wine
caring
sweltering
snail
punish
clam
old-fashioned
overflow
shallow
credit
drain
gabby
crook
juvenile
steady
tire
channel
average
spicy
destroy
tooth
form
buzz
dry
heat
screw
drown
bury
sparkling
abandoned
worried
deep
crown
friendly
star
part
simple
rule
command
grey
natural
winter
thick
sink
horse
detect
tranquil
cakes
kiss
achiever
extend
useless
steer
visit
agree
torpid
fish
political
match
thank
reminiscent
glue
copy
reach
elegant
start
sheep
yard
beneficial
stupid
ill
appreciate
nutritious
overconfident
flower
faint
roof
son
earthy
pass
load
fowl
badge
earth
sharp
yoke
alcoholic
listen
existence
uptight
confess
crash
whispering
decision
haircut
meat
pets
friction
volcano
chemical
mammoth
discover
helpless
eyes
branch
market
acidic
word
alike
wicked
trip
pretend
bubble
grease
toothpaste
unsuitable
brake
north
supreme
nauseating
colour
wooden
fasten
chop
concerned
beginner
cowardly
muscle
oil
test
test
stream
pale
taste
square
shaggy
race
building
things
humor
name
battle
squirrel
opposite
chubby
even
impossible
needle
rhyme
plausible
medical
abounding
knotty
place
grateful
position
cushion
best
divergent
bless
thought
silent
unequal
mundane
anxious
press
oatmeal
naughty
pan
incandescent
resonant
lamentable
different
whistle
radiate
children
end
melodic
slap
optimal
sparkle
silk
woman
decorate
basketball
chase
curtain
infamous
colorful
home
money
prick
committee
purpose
judge
present
mix
hand
tasty
town
eatable
hanging
talk
well-made
trees
pat
mountainous
accept
fixed
attack
zoom
harmonious
clean
determined
crooked
sugar
insurance
rake
wanting
alarm
powerful
servant
teeny
deadpan
arrogant
complete
mean
receive
complete
rod
upbeat
order
zippy
bait
last
spiffy
tug
plantation
burst
smelly
squash
report
previous
handle
punch
reading
rejoice
successful
nose
impress
seed
aromatic
fanatical
wait
observe
glow
animal
structure
judicious
walk
manage
heady
unequaled
tense
pollution
tough
pet
habitual
selfish
wheel
pencil
boring
cars
van
gainful
bike
company
innate
avoid
hum
grade
refuse
clap
cut
precious
whistle
shy
dust
square
adventurous
seashore
liquid
low
wretched
mysterious
lunch
nebulous
threatening
reward
maid
distinct
petite
stamp
psychotic
frightening
ruin
drop
physical
therapeutic
trip
vase
unbiased
repair
early
half
apologise
equable
hurry
flavor
temporary
can
damage
produce
flag
bolt
cream
tender
standing
glossy
telling
grandfather
beef
fuzzy
beam
bridge
angry
common
recognise
nation
smile
brash
range
brother
laughable
ignore
massive
fluttering
paint
two
bustling
few
cross
receptive
expect
fang
part
sincere
slimy
ancient
scintillating
grieving
lighten
outrageous
abject
exclusive
nippy
fold
combative
explain
curve
tiny
activity
hot
leg
wail
loss
knot
drab
weak
land
fascinated
inconclusive
cracker
judge
tap
crawl
spare
hydrant
fat
gamy
stretch
consist
level
coordinated
finger
worthless
wrathful
big
wealthy
bent
eggs
cherry
visitor
toy
top
men
writer
basin
snow
royal
unpack
current
far-flung
coil
profuse
babies
secret
somber
poison
stem
distribution
embarrass
pie
laborer
toothbrush
kick
untidy
agreement
necessary
store
lethal
wasteful
stone
salt
class
mighty
shock
grumpy
tame
fax
swanky
trouble
selection
fit
fair
frantic
sun
twist
need</string>
</dict>
</plist>
